body {
    background: rgb(37, 147, 211);
    color: rgb(0, 0, 0);
    padding: 10px;
    font-family:Times New Roman;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(16, 95, 119);
    margin: 0 auto;
    display: flex;
    padding: 10px;
}

h1 {
    display: flex;
    align-items: center;
    color: rgb(192, 176, 176);
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: dotted;
    margin:0;
    padding: 10;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 6px;
}

a {
    text-decoration: underline;
    color: #8d8484;
}

/* main container area beneath menu */
main {
    background: rgb(19, 80, 121);
    display: flex;
    margin-top: 20px;
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    width: 200px;
}

.content {
    flex: 1;
    padding: 15px;
}

/* interests section styles */
#interests {
    border: 4px rgb(0, 0, 0) ridge;
    padding: 8px;
    margin-top: 20px;
}

h2, h3 {
    margin: 0px;
}


/* Portfolio styles */
.content h1 {
  color: rgb(17, 17, 17);
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #115966dc;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: #e01b1b;
}

#portfolio a {
  text-decoration: underline;
  color: #000000;
}

#interest-ul {
list-style-type: katakana;
padding-left: 20px;;
}
